/*--
	Theme Name: WordPress Theme 1142 modified for kinco.com
	Theme URI: http://template-help.com/
	Description: A theme from Template-Help.com Collection modified for kinco.com
	Version: 3.75
	Author: Template_Help.com  modified by nicolelwilson.com
	Author URL: http://www.Template-Help.com/
--*/

@import url("css/reset.css");
@import url("nav.css");
@import url("products.css");
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline; background-color:transparent; color:#f5f5f5; font-weight:bold; }

body {
	background-image: url('/wp-content/uploads/BG-Image.jpg');
	background-repeat: repeat;
	background-position: top left;
	background-attachment: fixed;
	color:#FFF;
	font-size:19px;
	line-height:20px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
html {
	min-width:1200px;
}

/*----- Constants -----*/
.fright {float:right;}
.fleft {float:left;}
.clear {clear:both; line-height:0; font-size:0; height:0;}
:focus {outline:none;}

abbr[title], acronym[title], dfn[title] { cursor: help; border-bottom: 1px dotted #666; }
blockquote { font-style:italic;}

/*----- img aligment -----*/
img.alignleft, a.alignleft {float:left; margin:0 20px 10px 0;}
img.alignright, a.alignright {float: right; margin:0 0 10px 20px;}
img.aligncenter, a.aligncenter { margin-left: auto; margin-right: auto; display: block; clear: both; margin-bottom:10px; }

/*----- nicole's image hover -----*/
img.nohover {
	border:0
}
img.hover {
	border:0;
	display:none
}
a:hover img.hover {
	display:inline
}
a:hover img.nohover {
	display:none
}

/*----- nicole's table transparency -----*/
.table {
	background: rgba(0, 0, 0, 0.6);
}
.table td {
	padding:15px
}
.table2 {
	background: rgba(0, 0, 0, 0.6);
}
.table2 td {
	padding-left:15px
}
td.nopad {
	padding:0 0 0 0px
}


/*----- Tailings -----*/
.cont-bg { background:none; min-width:1020px;}

/*----- Global structure -----*/

.container {
	width:1020px;
	margin:0 auto;
	font-size:.688em;
	position:relative;
}

/* Header */
/* #e9e9e9 has to be transparent for arrows to work*/
header { background:url(images/header-bg.gif) repeat-x left top ; min-width:1020px; position:relative; z-index:9999;}
header .splash { background:url(images/Header.jpg) no-repeat center top;}
/* woo commerce header fix */
.cont-bg header { background:none; min-width:auto; position:relative; z-index:10;}

/* Footer */
footer { /*background:url(none) repeat-x left top;*/ min-width:1020px; background:#222222;}
footer .container {
	width:940px;
	height:200px;
	overflow:hidden;
	text-align:right;
	text-color: #00000;
	line-height:14px;
	margin-left:auto;
	margin-right:auto;
}
footer .inside { padding:20px 40px; padding-bottom:0; text-align:left;}
footer .wp-link { text-decoration:none;}
footer .wp-link:hover { color:#00000;}
footer .logo { float:left; margin:7px 10px 0 0;}
footer .footer-text { text-color: #00000; font-size:11px; text-decoration:none;
 text-transform:capitalize;}

/* Primary */
#primary {
	overflow:hidden;
	height:100%;
	background:none;
}


/* Sidebar */
#sidebar {
	width:940px;
}


/*----- Logo -----*/
#logo {
	position:absolute;
	left:30px;
	top:0;
}
#logo h1,
#logo h2 {
	float:left;
	text-indent:-9999px;
	visibility:hidden;
}
#logo a { text-decoration:none; width:269px; height:91px; display:block;}
#logo #description { float:left; color:#5a5a5a; font-size:25px; line-height:1.2em; margin-left:-47px; padding-top:45px; visibility:hidden;}
@media all and (-webkit-min-device-pixel-ratio:10000),
not all and (-webkit-min-device-pixel-ratio:0) {
  #logo #description { padding-top:48px;}
}
*+ html #logo #description { padding-top:46px;}

/*-- Links --*/
a {color:#aaa; text-decoration:none; }
a:hover {text-decoration:underline;}

/*----- Titles -----*/
h1 {font-size:32px; line-height:1.2em; padding-left:15px; text-shadow: 2px 2px #000;}
h2 {font-size:28px; line-height:1.2em; padding-left:15px; text-shadow: 2px 2px #000;}
h2 a {font-size:28px; text-decoration:none;}
h2 a:hover {color:#5b5b5b;}
h3 {font-size:21px; line-height:1.2em; text-shadow: 1px 1px #000;}
h3 a {color:#535353; text-decoration:none;}
h4 {font-size:21px; line-height:1.2em; padding-left:15px; text-shadow: 1px 1px #000;}
h4 a {color:#535353; text-decoration:none;}
h4 a:hover {color:#00d2e5;}
h5 {font-size:19px; line-height:1.2em; text-shadow: 1px 1px #000;}
h5 a {color:#535353; text-decoration:none;}
h6 {font-size:12px; text-shadow: 1px 1px #000;}
h6 a {color:#535353; text-decoration:none;}

/*----- Forms -----*/
/* defaults */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
select,
textarea {
	width:245px;
	font-family:"trebuchet MS", Helvetica, sans-serif;
	font-size:1em;
	vertical-align:middle;
	font-weight:normal;
	background-color: rgba( 0, 0, 0, 0.3);
	background-image:none;
	border:1px solid #e3e3e3;
	border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
	color:#dfdfdf;
	margin:0;
	padding:3px;
}
select{
	padding:0;
	height:22px;
}
option{
	background-color: rgba( 0, 0, 0, 0.3);
}
textarea {overflow:auto;}
input[type="submit"] { cursor:pointer; outline:none;}

/* searchform */
header .searchform { position:absolute; right:131px; top:21px;}
#primary .bg { background:url(images/search-bg3.png) no-repeat left top;}
.searchform fieldset, .searchform .bg { width:220px; position:relative;}
.searchform .bg { height:36px; display:block; background:url(images/search-bg3.png) no-repeat left top;}
.searchform input[type="text"] { background:none; border:0 none; color:white; margin:0 0 0 12px; padding:9px 0; width:165px;}
.searchform input[type="submit"] { background:url(images/search-button.png) no-repeat center; border:0 none; height:36px; width:45px; position:absolute; right:0; top:0; cursor:pointer;}

/* comments-form */
#commentform textarea,
#commentform input[type="text"] { border:1px solid #c9c9c9; display:block; padding:3px;}
#commentform textarea:focus,
#commentform input[type="text"]:focus { border-color:#00d2e5;}
#commentform input[type="text"] { width:200px;}
#commentform input[type="submit"] { border:0 none; width:110px; height:30px; background:#dfdfdf;}
#commentform input[type="submit"]:hover { background:#757575; color:#fff;}
#commentform textarea { width:85%;}

/* contact-form */
.wpcf7-form p { clear:both; margin:0;}
.wpcf7-form .inputs { height:46px;}

.wpcf7-form label { float:left; margin-right:11px; padding-top:3px;}
.wpcf7-form label.alt { margin-left:20px;}

.wpcf7-form input[type="text"],
.wpcf7-form input[type="email"],
.wpcf7-form textarea {
	color:#dfdfdf;
	position:relative;
}
.wpcf7-form input[type="text"],
.wpcf7-form input[type="email"] {
	width:235px;
}
.wpcf7-form textarea {
	height:95px;
	width:500px;
}
.wpcf7-form input[type="submit"] {
	width:93px;
	height:42px;
	background:url(/wp-content/uploads/Submit.png) no-repeat left top;
	border:0 none;
	float:right;
	text-indent:99000px;
}
.donationform textarea {
	width:440px;
	max-width:440px;
	min-width:440px;
	height:75px;
	min-height:75px;
	max-height:80px;
	border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
}
.donationform span.your-message textarea {
	width:902px;
	max-width:902px;
	min-width:902px;
	height:95px;
	min-height:103px;
	max-height:203px;
	margin-bottom:10px;
	border:1px solid #e3e3e3;
	border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
}

/* UPS tracking form */
#ordertracking label{
	display:inline-block;
	float:left;
	padding:0 20px 0 0;
}

#ordertracking input[type="text"]{
	width:250px;
}
#ordertracking input[type="radio"]{
	display:block;
	margin: 2px 0;
	width: 25px;
}
#ordertracking input[type="reset"],#ordertracking input[type="submit"]{
	width:125px;
}
/*----- Widgets -----*/
/* list of widgets */
.widgets-list { width:100%; overflow:hidden;}
.widgets-list li.widget { width:156px; float:left; margin-left:21px;}
.widgets-list li.widget:first-child { margin:0;}
#sidebar .widgets-list li.widget.widget_text { width:auto;}

/* widgets */
.widgets-list li.widget h3 { margin-bottom:20px;}
.widgets-list li.widget ul { margin-top:-2px;}
.widgets-list li.widget ul li {line-height:1.2em; padding:8px 0; border-bottom:1px solid #808080}
.widgets-list li.widget ul li a { text-decoration:none; color:#dcdcdc;}
.widgets-list li.widget ul li a:hover { color:#aeaeae;}

/* accordian */
#wrapper {
	width: 940px;
	margin:0 auto;
	}
.accordionButton {
/*
  background: no-repeat;
	background-image: url(images/arrow.png);
	background-size: 17px 26px;
	background-position: 0 6px;
*/
	cursor: pointer;
	display:block;
	float: left;
	_float: none;  /* Float works in all browsers but IE6 */
	font-weight:bold;
	width:156px;
	text-align:center;
	/* was 14px */
	font-size:18px;
	line-height:2em;
	text-shadow: 1px 1px #000;
	}
.accordionContent {
	float: left;
	_float: none; /* Float works in all browsers but IE6 */
	}
.accordionContent ul,.accordionContent ul li{
	display:block;
	width:156px;
}
/***********************************************************************************************************************
 EXTRA STYLES ADDED FOR MOUSEOVER / ACTIVE EVENTS
************************************************************************************************************************/
.on {
	background: rgba(0,0,0,0.4);
	color:aaa;
	}
.over {
	background: rgba(0,0,0,0.3);
	color:bbb;
	}

div.accordionButton.over {
 background: transparent !important;
}


/* text */
#text-4 { padding:10px 0 38px 0;}
#text-4 h3 { font-size:26px; line-height:1.2em; margin-bottom:11px;}
.cont-bg ol, .cont-bg ul{
	padding-left:22px;
}

.cont-bg ul, .cont-bg ul li{
/* set to none so we don't get double bullet points on: http://www.kinco.com/about/meet-the-team/crissy/ */
/*	list-style-type:none; */
	margin: 2px 0;
}

.cont-bg #sidebar ol, .cont-bg #sidebar ul{
	padding-left:0;
}
.cont-bg #sidebar ul, .cont-bg #sidebar ul li{
	list-style-type:none;
	margin:0;
}

/* categories */
.widgets-list li.widget.widget_categories li ul { padding-top:15px; margin-bottom:-8px;}
.widgets-list li.widget.widget_categories li li { padding-left:10px; background:none; margin:0; padding-bottom:10px;}
.widgets-list li.widget.widget_categories li li a { text-decoration:underline;}

/* archive */
.widget.widget_archive li {}
.widget.widget_archive li a {}

#wp-calendar { width:139px;}
#wp-calendar tbody tr td { text-align:center; padding-bottom:2px;}
#wp-calendar #next { text-align:right;}

#recentcomments li a { color:#00d2e5;}
#recentcomments li a:hover { text-decoration:underline;}

#sidebar .widget_search fieldset { width:auto;}
#sidebar .widget_search .bg { background:none; height:auto; width:auto;}
#sidebar .widget_search input[type="text"] { padding:3px; width:120px; margin:0; background:#999999;}
#sidebar .widget_search input[type="submit"] { right:5px; top:0; width:20px; height:22px; background-color:#999999;}

.widget_tag_cloud a { line-height:1.2em;}

/*----- Indents -----*/
.inside { padding:0 40px;}
.bot-indent { padding-bottom:0px;}
.bot-indent1 { padding-bottom:0px;}
.right-indent { padding-right:30px;}
.right-indent1 { padding-right:60px;}

.wrapper { width:100%; overflow:hidden;}

/*----- Posts -----*/
p { margin-bottom:20px;}

.posts-list { width:100%; overflow:hidden; padding-left:0; list-style-type:none;}
.cont-bg ul.posts-list{ width:100%; overflow:hidden; padding-left:0; list-style-type:none;}
.cont-bg ul.posts-list li{list-style-type:none;}
.search .posts-list { background:rgba(0, 0, 0, 0.6);}
.posts-list li:first-child { padding:0; background:none; margin-top:0;}
.cont-bg .posts-list li { padding-top:15px; margin:18px 0 10px; width:100%; overflow:hidden; vertical-align:top; border-top:1px solid #777; list-style-type:none;}
.cont-bg .posts-list li .post-excerpt ul li { padding-top:5px; margin:0 10px; width:auto; overflow:hidden; vertical-align:top; border-top:none;}
.cont-bg .posts-list li .post-excerpt ul li:first-child { padding-top:25px;}

.read-more,
.more-link { color:#00d2e5; display:inline-block; padding-left:27px;}

.featuredThumbnail img { float:left; margin:0 20px 10px 0;}
.woocommerce-account .featuredThumbnail img { float:none; margin:0;}
.newer-older { width:100%; overflow:hidden; height:20px;}
.newer-older.top { padding-bottom:25px;}

.newer-older.bot { padding-top:24px; padding-bottom:15px;}
.newer-older .older { float:left; width:45%;}

.newer-older .newer { float:right; width:45%; text-align:right;}
.newer-older a { color:#00d2e5;}

.oldernewer.bot { padding-top:16px;}

.title { overflow:hidden; width:100%; margin-bottom:0px;}
.title .post-edit-link { float:right; color:#aaa;}

#post-meta { padding-bottom:15px;}
.post-meta { padding-top:10px; clear:both;}

#post-author {}
#post-author h3 { margin-bottom:15px;}
#post-author h3 a:hover { color:#505050;}

#authorDescription, p.avatar { width:100%; overflow:hidden;}
#authorDescription img.avatar, .avatar img { float:left; margin-right:20px;}
#author-link { clear:both; padding-top:10px;}
#author-link p { margin:0;}
.gravatar { float:left; margin-right:20px;}

#comments { background:url(images/line-hor.gif) repeat-x left top; padding:32px 0 15px 0;}
#comments h3 { margin-bottom:20px;}
#comments ol { margin-bottom:30px; overflow:hidden; width:100%;}
#comments ol li { overflow:hidden; vertical-align:top; padding:10px 10px 20px 10px; margin-bottom:10px; background:#f7f6f6;}
#comments .comment-text p { margin-bottom:0;}
.comment-meta { padding-top:12px;}
.comment-edit-link { float:right;}


#post-content ul, #page-content ul { padding-bottom:10px;}
#post-content ul li, #page-content ul li { background:url(images/marker.gif) no-repeat left 8px; padding-bottom:10px; padding-left:10px; height:1%;}
#post-content ul li a:hover, #page-content ul li a:hover { color:#5b5b5b;}

#page-content { padding-bottom:20px; width:100%; overflow:hidden;}
#page-content ul li { padding-bottom:5px;}
#page-content h4 { margin-bottom:0px;}

.column-left { float:left;}
.column-right { float:left;}

.search h1 { margin-bottom:20px;}

.post-excerpt p { margin:0;}

.entry-content { margin-bottom:-20px;}

#recent-author-comments { padding:30px 0 25px 0;}
#recent-author-comments ul li { background:url(images/marker.gif) no-repeat left 8px; padding-left:10px;}

.edit { padding-top:12px;}

.one-half { float:left; width:50%;}
.one-third { float:left; width:33%;}
.two-third { float:left; width:64%;}

.line-hor { height:2px; background:url(images/line-hor.gif) repeat-x left top; margin:20px 0; display:block;}
.line-hor1 {background:url(images/line-hor.gif) repeat-x left top; height:2px; font-size:0; line-height:0; margin-bottom:23px;}
*+ html .line-hor1 { margin-bottom:8px;}

#page-content ul.partners li:first-child { padding-top:0;}
#page-content ul.partners li { background:none; padding:10px 0 0 0; width:100%; overflow:hidden; vertical-align:top;}

#page-content ul.price-list li { width:100%; overflow:hidden; vertical-align:top;}
#page-content ul.price-list li a { float:left;}
#page-content ul.price-list li strong { float:right;}
#page-content ul.price-list li em { display:block; background:url(images/line-hor.gif) repeat-x left 14px; overflow:hidden;}

.folio { width:100%; overflow:hidden;}
.folio li { float:left; width:312px; padding-bottom:20px;}


/*----- Faded slider -----*/
#faded { height:417px; background:url(images/slider-bg.gif) no-repeat left bottom; width:100%; position:relative;}
#faded ul.slides { height:350px; overflow:hidden; width:940px; margin:0 auto; margin-bottom:3px;}
#faded ul.pagination { height:12px; text-align:center;}
#faded ul.pagination li { display:inline;}
#faded ul.pagination li a { width:12px; display:inline-block; font-size:0; line-height:25px; overflow:hidden; height:12px; background-repeat:no-repeat; background-position:-20px 0; background-image:url(images/pagination-sprite.gif); margin:0 4px;}
#faded ul.pagination li.current a,
#faded ul.pagination li a:hover { background-position:0 0;}
#faded a.prev,
#faded a.next {
	position:absolute;
	top:55px;
	text-indent:-9999px;
	width:40px;
	height:190px;
	background-repeat:no-repeat;
	background-position:0 0;
}
#faded a.prev { left:0; background-image:url(none);}
#faded a.next { right:0; background:url(none);}

/*----- Looped slider -----*/
.carousel-box {
	position:relative;
	width:1020px;
	overflow:hidden;
	margin-bottom:38px;
}
.carousel-box .prev-button,
.carousel-box .next-button {
	width:40px;
	height:122px;
	background-repeat:no-repeat;
	background-position:0 0;
	position:absolute;
	top:100px;
}
.carousel-box .prev-button { background-image:url(none); left:0;}
.carousel-box .next-button { background:url(none); right:0;}
.carousel-box .carousel {
	width:940px !important;
	overflow:hidden;
	margin-left:40px;
	background:url(images/line-hor.gif) repeat-x left top;
	padding-top:32px;
}
.carousel-box ul li {
	width:300px;
	height:275px;
	float:left;
	margin-right:20px;
}
.carousel-box ul li h3 { margin-bottom:4px;}
.carousel-box ul li .featuredThumbnail img { float:none; padding-top:13px; margin-bottom:15px;}
a.address { font-size:19px; line-height:1.2em; color:#B6B6B6; text-decoration:none;}
a.address:hover { color:#B6B6B6;}

/*----- banners -----*/
#banners ul { margin-left:-20px;}
#banners ul li.banner { float:left; padding:0 0 10px 65px; background-repeat:no-repeat; background-position:left top; width:235px; min-height:82px; height:auto!important; height:82px; margin-left:20px;}
#banners ul li.banner-1 { background-image:url(images/icon-1.gif);}
#banners ul li.banner-2 { background-image:url(images/icon-2.gif);}
#banners ul li.banner-3 { background-image:url(images/icon-3.gif);}
#banners ul li.banner-4 { background-image:url(images/icon-4.gif);}
#banners ul li.banner-5 { background-image:url(images/icon-5.gif);}
#banners ul li.banner-6 { background-image:url(images/icon-6.gif);}

/*----- Clearfix -----*/
.clearfix:after, .post:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
/* Hide from IE Mac \*/
.clearfix { display: block; }
/* End hide from IE Mac */
.none { display: none; }
/* End Clearfix */

/**/
.additional_information_tab {
  margin-right: 2px;
}
.reviews_tab {
  border-left: 2px solid #888;
}

html,body {
  height: 100%;
}
.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -200px;
}

footer, .push {
  height: 200px;
}
footer {
  position: relative;
}

/* fix grid to make the same */
.woocommerce ul.products li {
  margin-bottom: 20px !important;
}

td.actions #coupon_code {
  color: #fff;
  background: rgba(0,0,0,0.29);
}

.woocommerce-message a.button {
  background: rgba(0,0,0,0.29) !important;
/*  background: #333; */
}

.woocommerce a.button {
  background: #333 !important;
}

td.actions input.button {
  background: #333;
}

#primary {
  z-index: 100;
  position: relative;
}

.woocommerce-message::before {
  background-color: #333;
  -linear-gradient(center top , #7C7C7C 0%, #777 100%) repeat scroll 0 0 transparent;
  content: "X";
}

.search-results .featuredThumbnail img {
  width: 190px;
  height: auto;
}

.post-excerpt p {
  padding: 0 15px;
}

.post-edit-link small {
  padding: 0 15px;
}

.variations_form div .price .from {
  display: none;
}

/* this is the normal price */
.variations_form div .price .amount {
  display: inline !important;
}

div.single_variation_wrap {
  display: inline !important;
}

.single_variation_wrap .price .amount {
  display: none !important;
}

.single_variation {
  display: none !important;
}

/* */
div.woocommerce div.table div.address {
  background-color: transparent;
}

ol.commentlist {
  width: 97% !important;
}

.chzn-container-single .chzn-single {
  background: transparent !important;
}
.chzn-container-single .chzn-single span {
  color: #fff;
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea, .woocommerce-page form .form-row input.input-text, .woocommerce-page form .form-row textarea {
  width: 203px !important;
}

.woocommerce > p {
  background: rgba(0,0,0,0.3);
}

/* .woocommerce button.button.alt, .woocommerce-page button.button.alt, */
.woocommerce a.button.alt,  .woocommerce input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page a.button.alt,  .woocommerce-page input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page #content input.button.alt {
  background: #333 !important;
}

.summary ul {
  list-style: disc;
}

#page-content div#aio-nav a {
  background: rgba(0,0,0,0.6);
  font-size: 10px;
  border-radius: 50px;
  padding: 3px 7px;
}

#page-content div#aio-nav a.activeSlide {
  background: #EE3942;
}

/*
.cart_totals tr.shipping {
  display: none;
}
*/