/* Smartphones & small screens ----------- */
@media only screen 
and (max-device-width : 1024px) {
/*----- Navigation -----*/
header .container { height:181px; width:1000px;}
/* primary */
.primary { position:absolute; top:114px; left:4px; right:0px; width:100%;}
.menu-main-menu-container {text-align:center;}
/* CWA-RT removed for 2nd lvl nav
.primary ul li {position:relative;}*/
.primary ul{margin:0 auto;}
.primary ul ul {position:absolute; top:-9999px;}
.primary ul ul li {width:100%}
.primary li:hover {visibility:inherit; /* fixes IE7 'sticky bug' */}

.primary.sf-menu li:hover, .sf-menu li.sfHover,
.primary.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	outline:0;
}

.primary ul li:first-child { margin-left:0;}
.primary ul li { float:left; margin-left:0px;}
.primary ul li a { 
  text-decoration:none; 
  font-size:15px;
  color:#444444; 
  font-weight: bold;
  background-repeat:repeat-x;
  background-position:left top; 
  display:block;
}
/* cwa-rt add for 2nd level nav */
.sub-menu{
width:100%;
}
.primary ul li ul li a { 
  color: #eaeaea;
}
.primary ul li a span { display:block; background-repeat:no-repeat; background-position:0 0;}
.primary ul li a b { display:block; padding:0 36px; background-repeat:no-repeat; background-position:right top; line-height:33px;}
.primary ul li a:hover,
.primary ul li.current-menu-item a,
.primary ul li.current_page_item a,
.primary ul li.sfHover a { 
	background-image:url(none);
}
.primary ul li a:hover span,
.primary ul li.current-menu-item a span,
.primary ul li.current_page_item a span,
.primary ul li.sfHover a span { 
	background-image:url(none);
}
.primary ul li a:hover b,
.primary ul li.current-menu-item a b,
.primary ul li.current_page_item a b,
.primary ul li.sfHover a b { 
	background-image:url(none);
}

.primary ul li ul { background-color:#E9E9E9; width:132px; min-width:142px;}
/* cwa-rt was float none, changed for 2nd level nav */
.primary ul li li { margin:0; float: left; width:132px ;min-width:142px}

.primary ul li li a,
.primary ul li a:hover li a,
.primary ul li.current-menu-item li a,
.primary ul li.current_page_item li a,
.primary ul li.sfHover li a { 
	min-width:132px; 
	min-width:142px; 
	font-size:13px; 
	line-height:27px;
	text-align:center; 
	text-transform:none; 
	font-weight:none; 
	background-repeat:no-repeat; 
	background-position:left -31px; 
	background-image:url(none);
	padding:0 0 2px 0;
}

/*.primary ul li li.sfHover li.current-menu-item a,
.primary ul li li.sfHover li.current_page_item a { background-position:0 0;}*/

.primary ul li li a:hover,
/*.primary ul li li.current-menu-item a,
.primary ul li li.current_page_item a,*/
.primary ul li li.sfHover a,
.primary ul li li.sfHover li a:hover {
	background-position:0 0;
}
.primary ul li li.sfHover li a {
	background-position:0 -31px;
}

.primary li:hover ul,
.primary li.sfHover ul {
	left: 3px;
/* cwa-rt added for 2nd level nav */
        right: 3px;
        width: 100%;
	background-color: #a5a5a5;
        color: #e7e7e7;
/* end */
	top:36px; /* match top ul list item height */
	z-index:99;
}
.primary li:hover li ul,
.primary li.sfHover li ul {
	top:-9999px;
}
.primary li li:hover ul,
.primary li li.sfHover ul {
	left:124px; /* match ul width */
	top:0;
}
.primary li li:hover li ul,
.primary li li.sfHover li ul {
	top:-9999px;
}
.primary li li li:hover ul,
.primary li li li.sfHover ul {
	left:144px; /* match ul width */
	top:0;
}

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/*----- Navigation -----*/
header .container { height:181px; width:1200px;}
/* primary */
.primary { position:absolute; top:114px; left:4px; right:0px; width:1200px;}
.menu-main-menu-container {text-align:center;}
/* CWA-RT removed for 2nd lvl nav
.primary ul li {position:relative;}*/
.primary ul{margin:0 auto; position:relative; left:84px;}
.primary ul ul {position:absolute; top:-9999px;}
.primary ul ul li {width:100%}
.primary li:hover {visibility:inherit; /* fixes IE7 'sticky bug' */}

.primary.sf-menu li:hover, .sf-menu li.sfHover,
.primary.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	outline:0;
}

.primary ul li:first-child { margin-left:0;}
.primary ul li { float:left; margin-left:0;}
.primary ul li a { 
  text-decoration:none; 
  font-size:18px;
  color:#444444; 
  font-weight: bold;
  background-repeat:repeat-x;
  background-position:left top; 
  display:block;
}
/* cwa-rt add for 2nd level nav */
.sub-menu{
width:1200px;
}
.primary ul li ul li a { 
  color: #eaeaea;
}
.primary ul li a span { display:block; background-repeat:no-repeat; background-position:0 0;}
.primary ul li a b { display:block; padding:0 36px; background-repeat:no-repeat; background-position:right top; line-height:33px;}
.primary ul li a:hover,
.primary ul li.current-menu-item a,
.primary ul li.current_page_item a,
.primary ul li.sfHover a { 
	background-image:url(none);
}
.primary ul li a:hover span,
.primary ul li.current-menu-item a span,
.primary ul li.current_page_item a span,
.primary ul li.sfHover a span { 
	background-image:url(none);
}
.primary ul li a:hover b,
.primary ul li.current-menu-item a b,
.primary ul li.current_page_item a b,
.primary ul li.sfHover a b { 
	background-image:url(none);
}

.primary ul li ul { background-color:#E9E9E9; width:132px;}
/* cwa-rt was float none, changed for 2nd level nav */
.primary ul li li { margin:0; float: left; width:132px;}

.primary ul li li a,
.primary ul li a:hover li a,
.primary ul li.current-menu-item li a,
.primary ul li.current_page_item li a,
.primary ul li.sfHover li a { 
	min-width:132px;  
	font-size:15px; 
	line-height:27px;
	text-align:center; 
	text-transform:none; 
	font-weight:none; 
	background-repeat:no-repeat; 
	background-position:left -31px; 
	background-image:url(none);
	padding:0 0 2px 0;
}
/* --- BLS  width changes based on extra long sub menu titles --- */

/* About > Donations & sponsorship */
.primary ul li li#menu-item-2794, 
.primary ul li li#menu-item-2794 a,
.primary ul li a:hover li#menu-item-2794 a,
.primary ul li.current-menu-item li#menu-item-2794 a,
.primary ul li.current_page_item li#menu-item-2794 a,
.primary ul li.sfHover li#menu-item-2794 a { 
	width:192px; 
}
/* About > Social Responsibility */
.primary ul li li#menu-item-138, 
.primary ul li li#menu-item-138 a,
.primary ul li a:hover li#menu-item-138 a,
.primary ul li.current-menu-item li#menu-item-138 a,
.primary ul li.current_page_item li#menu-item-138 a,
.primary ul li.sfHover li#menu-item-138 a { 
	min-width:187px;  
}
/* About > Press & Reviews */
.primary ul li li#menu-item-136, 
.primary ul li li#menu-item-136 a,
.primary ul li a:hover li#menu-item-136 a,
.primary ul li.current-menu-item li#menu-item-136 a,
.primary ul li.current_page_item li#menu-item-136 a,
.primary ul li.sfHover li#menu-item-136 a { 
	min-width:147px;  
}
/* About > Submit Images & Reviews */
.primary ul li li#menu-item-1224, 
.primary ul li li#menu-item-1224 a,
.primary ul li a:hover li#menu-item-1224 a,
.primary ul li.current-menu-item li#menu-item-1224 a,
.primary ul li.current_page_item li#menu-item-1224 a,
.primary ul li.sfHover li#menu-item-1224 a { 
	min-width:210px;  
}
/* How to Buy > Ski Resorts & Patrol */
.primary ul li li#menu-item-2573, 
.primary ul li li#menu-item-2573 a,
.primary ul li a:hover li#menu-item-2573 a,
.primary ul li.current-menu-item li#menu-item-2573 a,
.primary ul li.current_page_item li#menu-item-2573 a,
.primary ul li.sfHover li#menu-item-2573 a { 
	min-width:165px;  
}
/* How to Buy > Kinco Club Exclusives */
.primary ul li li#menu-item-2580, 
.primary ul li li#menu-item-2580 a,
.primary ul li a:hover li#menu-item-2580 a,
.primary ul li.current-menu-item li#menu-item-2580 a,
.primary ul li.current_page_item li#menu-item-2580 a,
.primary ul li.sfHover li#menu-item-2580 a { 
	min-width:195px;  
}

/* Resellers > Marketing Materials */
.primary ul li li#menu-item-1457, 
.primary ul li li#menu-item-1457 a,
.primary ul li a:hover li#menu-item-1457 a,
.primary ul li.current-menu-item li#menu-item-1457 a,
.primary ul li.current_page_item li#menu-item-1457 a,
.primary ul li.sfHover li#menu-item-1457 a { 
	min-width:182px;  
}

/* Resellers > Marketing Materials */
.primary ul li li#menu-item-1457, 
.primary ul li li#menu-item-1457 a,
.primary ul li a:hover li#menu-item-1457 a,
.primary ul li.current-menu-item li#menu-item-1457 a,
.primary ul li.current_page_item li#menu-item-1457 a,
.primary ul li.sfHover li#menu-item-1457 a { 
	min-width:182px;  
}

/* Resellers > Submit Store Images */
.primary ul li li#menu-item-1462, 
.primary ul li li#menu-item-1462 a,
.primary ul li a:hover li#menu-item-1462 a,
.primary ul li.current-menu-item li#menu-item-1462 a,
.primary ul li.current_page_item li#menu-item-1462 a,
.primary ul li.sfHover li#menu-item-1457 a { 
	min-width:182px;  
}

/* Resellers > Existing Reseller Login */
.primary ul li li#menu-item-1458, 
.primary ul li li#menu-item-1458 a,
.primary ul li a:hover li#menu-item-1458 a,
.primary ul li.current-menu-item li#menu-item-1458 a,
.primary ul li.current_page_item li#menu-item-1458 a,
.primary ul li.sfHover li#menu-item-1458 a { 
	min-width:202px;  
}

/* Resellers > New Reseller Account */
.primary ul li li#menu-item-1459, 
.primary ul li li#menu-item-1459 a,
.primary ul li a:hover li#menu-item-1459 a,
.primary ul li.current-menu-item li#menu-item-1459 a,
.primary ul li.current_page_item li#menu-item-1459 a,
.primary ul li.sfHover li#menu-item-1459 a { 
	min-width:197px;  
}

/* Contact us > Warranty Information */
.primary ul li li#menu-item-2584, 
.primary ul li li#menu-item-2584 a,
.primary ul li a:hover li#menu-item-2584 a,
.primary ul li.current-menu-item li#menu-item-2584 a,
.primary ul li.current_page_item li#menu-item-2584 a,
.primary ul li.sfHover li#menu-item-2584 a { 
	min-width:202px;  
}

/* Contact us > Terms & Conditions */
.primary ul li li#menu-item-2583, 
.primary ul li li#menu-item-2583 a,
.primary ul li a:hover li#menu-item-2583 a,
.primary ul li.current-menu-item li#menu-item-2583 a,
.primary ul li.current_page_item li#menu-item-2583 a,
.primary ul li.sfHover li#menu-item-2583 a { 
	min-width:197px;  
}
/*--- end of sub navigation unqiue width thingy ---*/

/*.primary ul li li.sfHover li.current-menu-item a,
.primary ul li li.sfHover li.current_page_item a { background-position:0 0;}*/

.primary ul li li a:hover,
/*.primary ul li li.current-menu-item a,
.primary ul li li.current_page_item a,*/
.primary ul li li.sfHover a,
.primary ul li li.sfHover li a:hover {
	background-position:0 0;
}
.primary ul li li.sfHover li a {
	background-position:0 -31px;
}

.primary li:hover ul,
.primary li.sfHover ul {
	left: -102px;
/* cwa-rt added for 2nd level nav */
        right: 3px;
        width: 100%;
	background-color: #a5a5a5;
        color: #e7e7e7;
/* end */
	top:36px; /* match top ul list item height */
	z-index:99;
}
.primary li:hover li ul,
.primary li.sfHover li ul {
	top:-9999px;
}
.primary li li:hover ul,
.primary li li.sfHover ul {
	left:124px; /* match ul width */
	top:0;
}
.primary li li:hover li ul,
.primary li li.sfHover li ul {
	top:-9999px;
}
.primary li li li:hover ul,
.primary li li li.sfHover ul {
	left:144px; /* match ul width */
	top:0;
}
}
