/*----- Navigation -----*/

/*
z-index breakdown:
00: everything
96: current submenu
97: current arrow
98: hover submenu
99: hover arrow
*/

/* 190 is good but causes scroll bar, changing to 195px */
/* scroll bars on what page? what browser? */
/* 189 to reduce padding item #28 */
header .container { height:189px; width:1200px; overflow-x:hidden;}
/* primary */
.primary { position:absolute; top:114px; left:4px; right:0px; width:1200px;}
.menu-main-menu-container {text-align:center;}
/* CWA-RT removed for 2nd lvl nav
.primary ul li {position:relative;}*/
.primary ul{margin:0 auto; position:relative; left:84px;}
.primary ul ul {position:absolute; top:-9999px; left:0; overflow:hidden;}
/*.primary ul ul li {width:100%}*/
.primary li:hover {visibility:inherit; /* fixes IE7 'sticky bug' */}

.primary.sf-menu li:hover, .sf-menu li.sfHover,
.primary.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	outline:0;
}

.primary ul li:first-child { margin-left:0; padding-left:6px;}
.primary ul li { float:left; margin-left:0;}
.primary ul li a {
  text-decoration:none;
  font-size:18px;
  color:#444;
  font-weight: bold;
  background-repeat:repeat-x;
  background-position:left top;
  display:block;
}
/* cwa-rt add for 2nd level nav */
.primary .sub-menu{
  width:1200px;
}
.primary ul li ul li a {
  color: #eaeaea;
}
.primary ul li a span { display:block; background-repeat:no-repeat; background-position:0 0;}
.primary ul li a b { display:block; padding:0 35px; background-repeat:no-repeat; background-position:right top; line-height:33px;}
.primary ul li:first-child a b { padding-left:36px;}
.primary ul li:last-child a b { padding-left:32px;}
.primary ul li a:hover,
.primary ul li.current-menu-item a,
.primary ul li.current_page_item a,
.primary ul li.sfHover a {
	background-image:url(none);
}
.primary ul li a:hover span,
.primary ul li.current-menu-item a span,
.primary ul li.current_page_item a span,
.primary ul li.sfHover a span {
	background-image:url(none);
}
.primary ul li a:hover b,
.primary ul li.current-menu-item a b,
.primary ul li.current_page_item a b,
.primary ul li.sfHover a b {
	background-image:url(none);
}

/* parent for subzero! */
.primary ul li.current_page_parent.superzero > a > span.arrowwrapper {
  position: relative;
  top: 2px;
  left: 50%;
}

/* enable both arrows & wrappers under current page*/
.primary ul li.current_page_parent.superzero > a > span.arrowwrapper > span.arrow {
  width: 0;
  border-top: 10px solid #E9E9E9;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;
  left: -12%;
  z-index: 97;
}

/* current selected anywhere */
.primary ul li.current-menu-item span.arrowwrapper {
  position: relative;
  top: 2px;
  left: 50%;
}

.primary ul li.current-menu-item span.arrow {
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;
  left: -12%;
  z-index: 97;
}

/* zero-menu color */
.primary ul li.current-menu-item.superzero > a > span.arrowwrapper > span.arrow {
  border-top: 10px solid #E9E9E9;
}

/* sub-menu color */
.primary ul.sub-menu li.current-menu-item span.arrow {
  border-top: 10px solid #a5a5a5;
}

.primary ul li ul {
  /* has to be transparent, let background color it */
  /* background-color:#E9E9E9; */
  width:132px;
}
/* cwa-rt was float none, changed for 2nd level nav */
.primary ul li li {
  margin:0;
  float: left;
  max-width:265px;
  /* was 46, changing to 39px to defeat some vertical padding, item #28 */
  height: 39px;
}

.primary ul li li a,
.primary ul li a:hover li a,
.primary ul li.current-menu-item li a,
.primary ul li.current_page_item li a,
.primary ul li.sfHover li a {
	min-width:132px;
	font-size:15px;
	line-height:27px;
	text-align:center;
	text-transform:none;
	font-weight:none;
	background-repeat:no-repeat;
	background-position:left -31px;
	background-image:url(none);
	padding:0 0 2px 0;
}
/* --- BLS  width changes based on extra long sub menu titles --- */

/* About > Donations & sponsorship */
.primary ul li li#menu-item-2794,
.primary ul li li#menu-item-2794 a,
.primary ul li a:hover li#menu-item-2794 a,
.primary ul li.current-menu-item li#menu-item-2794 a,
.primary ul li.current_page_item li#menu-item-2794 a,
.primary ul li.sfHover li#menu-item-2794 a {
	width:192px;
}
/* About > Social Responsibility */
.primary ul li li#menu-item-138,
.primary ul li li#menu-item-138 a,
.primary ul li a:hover li#menu-item-138 a,
.primary ul li.current-menu-item li#menu-item-138 a,
.primary ul li.current_page_item li#menu-item-138 a,
.primary ul li.sfHover li#menu-item-138 a {
	min-width:187px;
}
/* About > Press & Reviews */
.primary ul li li#menu-item-136,
.primary ul li li#menu-item-136 a,
.primary ul li a:hover li#menu-item-136 a,
.primary ul li.current-menu-item li#menu-item-136 a,
.primary ul li.current_page_item li#menu-item-136 a,
.primary ul li.sfHover li#menu-item-136 a {
	min-width:147px;
}
/* About > Submit Images & Reviews */
.primary ul li li#menu-item-1224,
.primary ul li li#menu-item-1224 a,
.primary ul li a:hover li#menu-item-1224 a,
.primary ul li.current-menu-item li#menu-item-1224 a,
.primary ul li.current_page_item li#menu-item-1224 a,
.primary ul li.sfHover li#menu-item-1224 a {
	min-width:210px;
}
/* How to Buy > View Your Account */
.primary ul li li#menu-item-3896,
.primary ul li li#menu-item-3896 a,
.primary ul li a:hover li#menu-item-3896 a,
.primary ul li.current-menu-item li#menu-item-3896 a,
.primary ul li.current_page_item li#menu-item-3896 a,
.primary ul li.sfHover li#menu-item-3896 a {
	min-width:170px;
}
/* How to Buy > Ski Resorts & Patrol */
.primary ul li li#menu-item-2573,
.primary ul li li#menu-item-2573 a,
.primary ul li a:hover li#menu-item-2573 a,
.primary ul li.current-menu-item li#menu-item-2573 a,
.primary ul li.current_page_item li#menu-item-2573 a,
.primary ul li.sfHover li#menu-item-2573 a {
	min-width:305px;
}
/* How to Buy > Kinco Club Exclusives */
.primary ul li li#menu-item-2580,
.primary ul li li#menu-item-2580 a,
.primary ul li a:hover li#menu-item-2580 a,
.primary ul li.current-menu-item li#menu-item-2580 a,
.primary ul li.current_page_item li#menu-item-2580 a,
.primary ul li.sfHover li#menu-item-2580 a {
	min-width:195px;
}

/* Resellers > Styles & UPCs */
.primary ul li li#menu-item-1457,
.primary ul li li#menu-item-1457 a,
.primary ul li a:hover li#menu-item-1457 a,
.primary ul li.current-menu-item li#menu-item-1457 a,
.primary ul li.current_page_item li#menu-item-1457 a,
.primary ul li.sfHover li#menu-item-1457 a {
	min-width:182px;
}

/* Resellers > Marketing Materials */
.primary ul li li#menu-item-1457,
.primary ul li li#menu-item-1457 a,
.primary ul li a:hover li#menu-item-1457 a,
.primary ul li.current-menu-item li#menu-item-1457 a,
.primary ul li.current_page_item li#menu-item-1457 a,
.primary ul li.sfHover li#menu-item-1457 a {
	min-width:182px;
}

/* Resellers > Submit Store Images */
.primary ul li li#menu-item-1462,
.primary ul li li#menu-item-1462 a,
.primary ul li a:hover li#menu-item-1462 a,
.primary ul li.current-menu-item li#menu-item-1462 a,
.primary ul li.current_page_item li#menu-item-1462 a,
.primary ul li.sfHover li#menu-item-1457 a {
	min-width:182px;
}

/* Resellers > Existing Reseller Login */
.primary ul li li#menu-item-1458,
.primary ul li li#menu-item-1458 a,
.primary ul li a:hover li#menu-item-1458 a,
.primary ul li.current-menu-item li#menu-item-1458 a,
.primary ul li.current_page_item li#menu-item-1458 a,
.primary ul li.sfHover li#menu-item-1458 a {
	min-width:202px;
}

/* Resellers > New Reseller Account */
.primary ul li li#menu-item-1459,
.primary ul li li#menu-item-1459 a,
.primary ul li a:hover li#menu-item-1459 a,
.primary ul li.current-menu-item li#menu-item-1459 a,
.primary ul li.current_page_item li#menu-item-1459 a,
.primary ul li.sfHover li#menu-item-1459 a {
	min-width:197px;
}

/* Contact us > Warranty Information */
.primary ul li li#menu-item-2584,
.primary ul li li#menu-item-2584 a,
.primary ul li a:hover li#menu-item-2584 a,
.primary ul li.current-menu-item li#menu-item-2584 a,
.primary ul li.current_page_item li#menu-item-2584 a,
.primary ul li.sfHover li#menu-item-2584 a {
	min-width:202px;
}

/* Contact us > Terms & Conditions */
.primary ul li li#menu-item-2583,
.primary ul li li#menu-item-2583 a,
.primary ul li a:hover li#menu-item-2583 a,
.primary ul li.current-menu-item li#menu-item-2583 a,
.primary ul li.current_page_item li#menu-item-2583 a,
.primary ul li.sfHover li#menu-item-2583 a {
	min-width:197px;
}
/*--- end of sub navigation unqiue width thingy ---*/

/*.primary ul li li.sfHover li.current-menu-item a,
.primary ul li li.sfHover li.current_page_item a { background-position:0 0;}*/

.primary ul li li a:hover,
/*.primary ul li li.current-menu-item a,
.primary ul li li.current_page_item a,*/
.primary ul li li.sfHover a,
.primary ul li li.sfHover li a:hover {
	background-position:0 0;
}
.primary ul li li.sfHover li a {
	background-position:0 -31px;
}

/* this is what shows the menu on hover */
.primary li:hover ul,
.primary li.sfHover ul {
  /* left: -102px; */
  /* cwa-rt added for 2nd level nav */
        right: 3px;
        width: 100%;
  /* has to be transparent, let background color it */
  /* background-color: #a5a5a5; */
        color: #e7e7e7;
  /* end */
  top:35px; /* match top ul list item height */
  z-index:98;
}

/* manage anywhere hover */
.primary ul li:hover span.arrowwrapper {
  position: relative;
  top: 2px;
  left: 50%;
}

.primary ul li:hover span.arrow {
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;
  left: -12%;
  z-index: 99;
}

/* color if top menu */
.primary ul li.superzero:hover > a > span.arrowwrapper > span.arrow {
  border-top: 10px solid #E9E9E9;
}



/* color if bottom menu */
.primary ul.sub-menu li.supersub:hover span.arrow {
  border-top: 10px solid #a5a5a5;
}

/* disable submenu if selected */
/* no matter where the cursor is on the menu, hide the current page */
ul:hover ul.sub-menu li.current-menu-item span.arrowwrapper {
  position: inherit;
}

/* unless we're hovering over it */
ul:hover ul.sub-menu li.current-menu-item:hover span.arrowwrapper {
  position: relative;
}

/* item #29 requests remove but we can't remove because there's no sub menu */
/* so it can't clear the current subnav of current category */
#menu-item-159:hover span.arrowwrapper {
  display: none !important;
}

.primary li:hover li ul,
.primary li.sfHover li ul {
	top:-9999px;
}
.primary li li:hover ul,
.primary li li.sfHover ul {
	left:124px; /* match ul width */
	top:0;
}
.primary li li:hover li ul,
.primary li li.sfHover li ul {
	top:-9999px;
}
.primary li li li:hover ul,
.primary li li li.sfHover ul {
	left:144px; /* match ul width */
	top:0;
}

nav ul.sub-menu {
  background-image: url(images/greybg.gif);
  background-repeat: repeat-x;
}

#menu-main-menu li.current-menu-item ul.sub-menu {
  display: block;
  visibility: visible;
  top: 35px;
  z-index: 96;
  left: 3px;
  right: 3px;
  width: 100%;
/* has to be transparent, let background color it */
/*  background-color: #a5a5a5; */
  color: #e7e7e7;
}
#menu-main-menu li.current-menu-parent ul.sub-menu {
  display: block;
  visibility: visible;
  top: 35px;
  z-index: 96;
  left: 3px;
  right: 3px;
  width: 100%;
/* has to be transparent, let background color it */
/*  background-color: #a5a5a5; */
  color: #e7e7e7;
}
#menu-main-menu #menu-item-149 ul.sub-menu{
left:-110px
}
#menu-main-menu #menu-item-128 ul.sub-menu{
margin-left:-110px;
padding-left:282px
}
#menu-main-menu #menu-item-137 ul.sub-menu{
margin-left:-201px;
padding-left:339px
}
#menu-main-menu #menu-item-130 ul.sub-menu{
margin-left:-110px;
padding-left:255px
}
#menu-main-menu #menu-item-135 ul.sub-menu{
margin-left:-110px;
padding-left:116px
}
#menu-main-menu #menu-item-3547 ul.sub-menu{
margin-left:-110px;
padding-left:285px
}

img[src="/wp-content/uploads/Ski_Button.png"] {
    max-width: 200px !important;
}

/*#menu-main-menu ul.sub-menu {
	margin: 0 auto;
}*/

