/* ----mini cart section---- */
#minicart{
	position: absolute;
    right: 136px;
    top: 64px;
	text-align:right;
	font-weight:bold;
}
#minicart a{
	color:#E9E9E9;
	padding:3px 0 2px;
}
#minicart a:hover{
	color:#e8012b;
	text-decoration:none;
}
#minicart a.minicheckout{
	padding-right:24px;
	background: url(images/mini-shopping-cart.png) center right no-repeat transparent;
}

/* ----side nav---- */
.menu-3rd-nav-materials-anchors-container, .menu-3rd-nav-product-page-container, .menu-3rd-nav-our-brands-container, .menu-3rd-nav-products-container, div[class^="menu-3rd-nav-"] {
    background:url(images/productnavbg.png) no-repeat left top;
    height:590px;
    width: 190px;
    padding-left:8px;
    position: relative;
    top: 5px;
    left: 0;
    float: left;
    font-size: 12.5px !important;
    font-weight:bolder;
    vertical-align:middle;
}
div[class^="menu-3rd-nav-"] ul[id^="menu-3rd-nav-"] {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%); /* IE 9 */
    -webkit-transform: translateY(-50%); /* Safari */
}

.menu-3rd-nav-press-reviews-container, .menu-3rd-nav-press-reviews-anchors-container {
 font-size: 12.5px !important;
}
.menu-3rd-nav-materials-anchors-container {
/*padding-top:210px;*/
}
table.menu-3rd-nav-our-brands-container {
  border-collapse: separate;
  width: 200px;

}
table.menu-3rd-nav-our-brands-container td{
    vertical-align: middle;
}
/*div.menu-3rd-nav-our-brands-container {*/
  /*padding-top:155px;*/
/*  padding-left:3px; */
/*}*/

/*div[class^="menu-3rd-nav-"] {*/

    /*background-size: cover !important;*/
/*}*/


.menu-3rd-nav-materials-anchors-container td, .menu-3rd-nav-product-page-container td, .menu-3rd-nav-products-container td, div[class^="menu-3rd-nav-"] td {
vertical-align:middle;
}
.menu-3rd-nav-materials-anchors-container ul,.menu-3rd-nav-product-page-container ul,.menu-3rd-nav-our-brands-container ul, .menu-3rd-nav-materials-anchors-container ul li,.menu-3rd-nav-product-page-container ul li,.menu-3rd-nav-our-brands-container ul li {
margin:0;
padding:0;
list-style-type:none;
}

.menu-3rd-nav-products-container ul, div[class^="menu-3rd-nav-"] ul {
margin:0;
list-style-type:none;
/* padding is multiplicative, so if we set padding to 0, we can't indent the list */
padding-left: 6px;
}

.cont-bg .menu-3rd-nav-products-container ul li, .cont-bg div[class^="menu-3rd-nav-"] ul li {
list-style-type:none;
margin:0;
padding:0;
}

/* Make nav white */
div[class^="menu-3rd-nav-"] a, .menu-3rd-nav-materials-anchors-container a, .menu-3rd-nav-product-page-container a, .menu-3rd-nav-our-brands-container a, .menu-3rd-nav-products-container a {
color:#efefef;
}

/* ----Product listing Styles---- */
.inside .gridlist-toggle{
float:right;
margin:-32px 250px 1.5em 0;
}
.woocommerce-page ul.grid li.product .sku{
display:block;
color:#fff;
font-size:0.9em!important;
font-weight:normal;
}
.woocommerce-pagination .page-numbers{
background-color: rgba(0, 0, 0, 0.6);
}
ul.products  .gridlist-buttonwrap{
display:none;
}
/* grid based layout */

.woocommerce-page ul.grid li.product .product-listing{
background-color:rgba(0, 0, 0, 0.6);
opacity:0.9;
-webkit-transition: opacity 0.4s ease;
	-moz-transition: opacity 0.4s ease;
	-o-transition: opacity 0.4s ease;
	transition: opacity 0.4s ease;
}
.woocommerce-page ul.grid li.product .product-listing:hover{
	opacity:1;
}
.woocommerce-page ul.grid li.product .product-listing  h3{
background-color: rgba(0, 0, 0, 0.6);
background-image: url(images/prod-arrow.png);
	-webkit-transition: background-image 0.5s ease;
	-moz-transition: background-image 0.5s ease;
	-o-transition: background-image 0.5s ease;
	transition: background-image 0.5s ease;
background-repeat:no-repeat;
background-position: center right;
color:#e5e5e5;
	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;
	transition: color 0.5s ease;
font-weight:800;
font-size:1.13em!important;
padding:7px 22px 7px 15px;
min-height:50px
}

.woocommerce-page ul.grid li.product .product-listing:hover  h3{
background-image: url(images/prod-arrow-hover.png);
color:#fff;
}
.woocommerce-page ul.grid li.product .price{
background-color: rgba(0, 0, 0, 0.6);
display:block;
}
/* NICOLE TEST */
.woocommerce-page ul.grid li.product itemprop.description {
display:none;
visibility: hidden;
}
/* list based layout */
.woocommerce-page ul.list li.product {
background-color:rgba(0, 0, 0, 0.6);
}
.woocommerce-page ul.list li.product h3{
color:#fff;
font-weight:800;
font-size:21px!important;
}

.woocommerce-page ul.list li.product .sku{
display:block;
color:#fff;
font-size:16px!important;
font-weight:normal;
}
.woocommerce-page ul.grid li.product .price{
display:block;
margin-top:0px;
}
 /* brand title removal */
.term-vulcan .page-title, .term-aquanot .page-title, .term-alyeska .page-title, .term-axeman .page-title, .term-cutflector .page-title,.term-frost-breaker .page-title,.term-heatkeep .page-title,.term-kinco-kids .page-title,.term-kinco-pro  .page-title,.term-mirax2-mirahv1 .page-title,.term-sabre .page-title,.term-xtremegrip .page-title,.term-ski .page-title,{
display:none;
}
/* attributes tab */
#tab-additional_information{
padding:10px 15px;
}
.cont-bg ul.shop_attributes, .cont-bg ul.shop_attributes li{
	list-style-type: none;
    margin: 0;
}
.cont-bg ul.shop_attributes{
	padding-left:0;
}
.cont-bg ul.shop_attributes li{
	display:block;
	float:left;
	min-height:110px;
	width:141px;
	padding: 0 5px;
}
.cont-bg ul.shop_attributes li strong{
	font-size:13.5px;
	font-weight:bolder;
}
/*  product details page */
.cont-bg .product-details-wrapper ul{
padding-left:30px;
margin-top:15px;
}

div[itemprop="description"] a[href="/prop65"] {
	display: none;
}
#tab-additional_information a[href="/prop65"] {
	 display: block;
}

div[itemprop="offers"] p.price {
    width: 171px !important;
}

.codenegar_product_filter_wrap.attr_list.attr_list_brand .accordionContent {
    margin-left: 33px;
}
.codenegar_product_filter_wrap.attr_list.attr_list_design .accordionContent {
    margin-left: 31px;
}
.codenegar_product_filter_wrap.attr_list.attr_list_features .accordionContent {
    margin-left: 24px;
}
.codenegar_product_filter_wrap.attr_list.attr_list_materials .accordionContent {
    margin-left: 25px;
}
.codenegar_product_filter_wrap.attr_list.attr_list_sizes .accordionContent {
    margin-left: 39px;
}
#page-content h2 {
    padding-left: 15px !important;
}

#menu-item-5250 {
    padding-left: 10px;
}
#post-1326 .woocommerce form{
    background-color: rgba(0, 0, 0, 0.6) !important;
}
.cart_totals h2 {
    display: none;
}

.cart-subtotal th {
    padding-right: 10px
}


/* Disabling Cart and Checkout */

#minicart,
.woocommerce div.product form.cart .variations,
.woocommerce div.product form.cart div.quantity,
.woocommerce .quantity .qty,
.woocommerce div.product form.cart .button
 {display: none;} 

 
/* Formatting Menus after Cart removal */
#menu-main-menu #menu-item-130 ul.sub-menu {
	margin-left: 0;
	padding-left: 466px;
}

#menu-main-menu #menu-item-135 ul.sub-menu {
	margin-left: 0;
	padding-left: 116px;
}






