/*--
  Theme Name: WordPress Theme 1142 modified for kinco.com
  Theme URI: http://template-help.com/
  Description: A theme from Template-Help.com Collection modified for kinco.com
  Version: 3.75
  Author: Template_Help.com  modified by nicolelwilson.com
  Author URL: http://www.Template-Help.com/
--*/

@import url("css/reset.css");
@import url("nav.css");
@import url("products.css");
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline; background-color:transparent; color:#f5f5f5; font-weight:bold; }

body {
  background-image: url('/wp-content/uploads/BG-Image.jpg');
  background-repeat: repeat;
  background-position: top left;
  background-attachment: fixed;
  color:#FFF;
  font-size:19px;
  line-height:20px;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
}
html {
  min-width:1200px;
}

/*----- Constants -----*/
.fright {float:right;}
.fleft {float:left;}
.clear {clear:both; line-height:0; font-size:0; height:0;}
:focus {outline:none;}

abbr[title], acronym[title], dfn[title] { cursor: help; border-bottom: 1px dotted #666; }
blockquote { font-style:italic;}

/*----- img aligment -----*/
img.alignleft, a.alignleft {float:left; margin:0 20px 10px 0;}
img.alignright, a.alignright {float: right; margin:0 0 10px 20px;}
img.aligncenter, a.aligncenter { margin-left: auto; margin-right: auto; display: block; clear: both; margin-bottom:10px; }

/*----- nicole's image hover -----*/
img.nohover {
  border:0
}
img.hover {
  border:0;
  display:none
}
a:hover img.hover {
  display:inline
}
a:hover img.nohover {
  display:none
}

/*----- nicole's table transparency -----*/
.table {
  background: rgba(0, 0, 0, 0.6);
}
.table td {
  padding:15px
}
.table2 {
  background: rgba(0, 0, 0, 0.6);
}
.table2 td {
  padding-left:15px
}
td.nopad {
  padding:0 0 0 0px
}


/*----- Tailings -----*/
.cont-bg { background:none; min-width:1020px;}

/*----- Global structure -----*/

.container {
  width:1020px;
  margin:0 auto;
  font-size:.688em;
  position:relative;
}

/* Header */
/* #e9e9e9 has to be transparent for arrows to work*/
header { background:url(images/header-bg.gif) repeat-x left top ; min-width:1020px; position:relative; z-index:9999;}
header .splash { background:url(images/Header.jpg) no-repeat center top;}
/* woo commerce header fix */
.cont-bg header { background:none; min-width:auto; position:relative; z-index:10;}

/* Footer */
footer { /*background:url(none) repeat-x left top;*/ min-width:1020px; background:#222222;}
footer .container {
  width:940px;
  height:200px;
  overflow:hidden;
  text-align:right;
  text-color: #00000;
  line-height:14px;
  margin-left:auto;
  margin-right:auto;
}
footer .inside { padding:20px 40px; padding-bottom:0; text-align:left;}
footer .wp-link { text-decoration:none;}
footer .wp-link:hover { color:#00000;}
footer .logo { float:left; margin:7px 10px 0 0;}
footer .footer-text { text-color: #00000; font-size:11px; text-decoration:none;
 text-transform:capitalize;}

/* Primary */
#primary {
  overflow:hidden;
  height:100%;
  background:none;
}


/* Sidebar */
#sidebar {
  width:940px;
}


/*----- Logo -----*/
#logo {
  position:absolute;
  left:100px;
  top:10px;
  display: block;
  width: 330px;
  height: 110px;
}
#logo h1,
#logo h2 {
  display: block;
  overflow: hidden;
  /*float:left;
  text-indent:-9999px;
  visibility:hidden;*/
}
#logo a { position: absolute; top:0; left:0; text-decoration:none; width:650px; height:91px; display:block;}
#logo a span {display: none;}
#logo #description { float:left; color:#5a5a5a; font-size:25px; line-height:1.2em; margin-left:-47px; padding-top:45px; visibility:hidden;}
@media all and (-webkit-min-device-pixel-ratio:10000),
not all and (-webkit-min-device-pixel-ratio:0) {
  #logo #description { padding-top:48px;}
}
*+ html #logo #description { padding-top:46px;}

/*-- Links --*/
a {color:#aaa; text-decoration:none; }
a:hover {text-decoration:underline;}

/*----- Titles -----*/
h1 {font-size:32px; line-height:1.2em; padding-left:15px; text-shadow: 2px 2px #000;}
h2 {font-size:28px; line-height:1.2em; /*padding-left:15px; */ text-shadow: 2px 2px #000;}
h2 a {font-size:28px; text-decoration:none;}
h2 a:hover {color:#5b5b5b;}
h3 {font-size:21px; line-height:1.2em; text-shadow: 1px 1px #000;}
h3 a {color:#535353; text-decoration:none;}
h4 {font-size:21px; line-height:1.2em; padding-left:15px; text-shadow: 1px 1px #000;}
h4 a {color:#535353; text-decoration:none;}
h4 a:hover {color:#00d2e5;}
h5 {font-size:19px; line-height:1.2em; text-shadow: 1px 1px #000;}
h5 a {color:#535353; text-decoration:none;}
h6 {font-size:12px; text-shadow: 1px 1px #000;}
h6 a {color:#535353; text-decoration:none;}

/*----- Forms -----*/
/* defaults */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
select,
textarea {
  width:245px;
  font-family:"trebuchet MS", Helvetica, sans-serif;
  font-size:1em;
  vertical-align:middle;
  font-weight:normal;
  background-color: rgba( 0, 0, 0, 0.3);
  background-image:none;
  border:1px solid #aaa;
  border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
  color:#dfdfdf;
  margin:0;
  padding:3px;
}
input[type="text"]:active, input[type="text"]:focus,
input[type="email"]:active, input[type="email"]:focus,
input[type="number"]:active, input[type="number"]:focus,
input[type="password"]:active, input[type="password"]:focus,
select:active, select:focus,
textarea:active, textarea:focus {
  border-color: #5a93f6;
}
select{
  padding:0;
  height:22px;
}
option{
  background-color: rgba( 0, 0, 0, 0.3);
}
textarea {overflow:auto;}
input[type="submit"] { cursor:pointer; outline:none;}

/* searchform */
header .searchform { position:absolute; right:131px; top:21px;}
#primary .bg { background:url(images/search-bg3.png) no-repeat left top;}
.searchform fieldset, .searchform .bg { width:220px; position:relative;}
.searchform .bg { height:36px; display:block; background:url(images/search-bg3.png) no-repeat left top;}
.searchform input[type="text"] { background:none; border:0 none; color:white; margin:0 0 0 12px; padding:9px 0; width:165px;}
.searchform input[type="submit"] { background:url(images/search-button.png) no-repeat center; border:0 none; height:36px; width:45px; position:absolute; right:0; top:0; cursor:pointer;}

/* comments-form */
#commentform textarea,
#commentform input[type="text"] { border:1px solid #c9c9c9; display:block; padding:3px;}
#commentform textarea:focus,
#commentform input[type="text"]:focus { border-color:#00d2e5;}
#commentform input[type="text"] { width:200px;}
#commentform input[type="submit"] { border:0 none; width:110px; height:30px; background:#dfdfdf;}
#commentform input[type="submit"]:hover { background:#757575; color:#fff;}
#commentform textarea { width:85%;}

/* contact-form */
.wpcf7-form p { clear:both; margin:0;}
.wpcf7-form .inputs { height:46px;}

.wpcf7-form label { float:left; margin-right:11px; padding-top:3px;}
.wpcf7-form label.alt { margin-left:20px;}

.wpcf7-form input[type="text"],
.wpcf7-form input[type="email"],
.wpcf7-form textarea {
  color:#dfdfdf;
  position:relative;
}
.wpcf7-form input[type="text"],
.wpcf7-form input[type="email"] {
  width:235px;
}
.wpcf7-form textarea {
  height:95px;
  width:500px;
}
.wpcf7-form input[type="submit"] {
  width:93px;
  height:42px;
  background:url(/wp-content/uploads/Submit.png) no-repeat left top;
  border:0 none;
  float:right;
  text-indent:99000px;
}
.donationform textarea {
  width:440px;
  max-width:440px;
  min-width:440px;
  height:75px;
  min-height:75px;
  max-height:80px;
  border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
.donationform span.your-message textarea {
  width:902px;
  max-width:902px;
  min-width:902px;
  height:95px;
  min-height:103px;
  max-height:203px;
  margin-bottom:10px;
  border:1px solid #e3e3e3;
  border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

/* UPS tracking form */
#ordertracking label{
  display:inline-block;
  float:left;
  padding:0 20px 0 0;
}

#ordertracking input[type="text"]{
  width:250px;
}
#ordertracking input[type="radio"]{
  display:block;
  margin: 2px 0;
  width: 25px;
}
#ordertracking input[type="reset"],#ordertracking input[type="submit"]{
  width:125px;
}
/*----- Widgets -----*/
/* list of widgets */
.widgets-list { width:100%; overflow:hidden;}
.widgets-list li.widget { width:156px; float:left; margin-left:21px;}
.widgets-list li.widget:first-child { margin:0;}
#sidebar .widgets-list li.widget.widget_text { width:auto;}

/* widgets */
.widgets-list li.widget h3 { margin-bottom:20px;}
.widgets-list li.widget ul { margin-top:-2px;}
.widgets-list li.widget ul li {line-height:1.2em; padding:8px 0; /*border-bottom:1px solid #808080*/}
.widgets-list li.widget ul li a { text-decoration:none; color:#dcdcdc;}
.widgets-list li.widget ul li a:hover { color:#aeaeae;}

/* accordian */
#wrapper {
  width: 940px;
  margin:0 auto;
  }

.accordionButton {
  /*
  background-image: url(images/arrow14.png);
  background: no-repeat;
  background-size: 17px 26px;
  background-position: 0 6px;
  */
  cursor: pointer;
  display:block;
  float: left;
  _float: none;  /* Float works in all browsers but IE6 */
  font-weight:bold;
  width:156px;
  text-align:center;
  /* was 14px, then 18px */
  font-size:16px;
  line-height:2em;
  text-shadow: 1px 1px #000;
  }
.accordionContent {
  float: left;
  _float: none; /* Float works in all browsers but IE6 */
  }
.accordionContent ul,.accordionContent ul li{
  display:block;
  width:156px;
}
/***********************************************************************************************************************
 EXTRA STYLES ADDED FOR MOUSEOVER / ACTIVE EVENTS
************************************************************************************************************************/
.on {
  /*background: rgba(0,0,0,0.4);*/
  color:aaa;
  }
.over {
  /*background: rgba(0,0,0,0.3);*/
  color:bbb;
  }

div.accordionButton.over {
 background: transparent !important;
}


/* text */
#text-4 { padding:10px 0 38px 0;}
#text-4 h3 { font-size:26px; line-height:1.2em; margin-bottom:11px;}
.cont-bg ol, .cont-bg ul{
  padding-left: 18px;
}

.cont-bg ul, .cont-bg ul li{
/* set to none so we don't get double bullet points on: http://www.kinco.com/about/meet-the-team/crissy/ */
  /*list-style-type:disc;*/
  margin: 2px 0;
}

#submit {
    color: white !important;
}

.cont-bg #sidebar ol, .cont-bg #sidebar ul{
  padding-left:0;
}
.cont-bg #sidebar ul, .cont-bg #sidebar ul li{
  list-style-type:none;
  margin:0;
}

/* categories */
.widgets-list li.widget.widget_categories li ul { padding-top:15px; margin-bottom:-8px;}
.widgets-list li.widget.widget_categories li li { padding-left:10px; background:none; margin:0; padding-bottom:10px;}
.widgets-list li.widget.widget_categories li li a { text-decoration:underline;}

/* archive */
.widget.widget_archive li {}
.widget.widget_archive li a {}

#wp-calendar { width:139px;}
#wp-calendar tbody tr td { text-align:center; padding-bottom:2px;}
#wp-calendar #next { text-align:right;}

#recentcomments li a { color:#00d2e5;}
#recentcomments li a:hover { text-decoration:underline;}

#sidebar .widget_search fieldset { width:auto;}
#sidebar .widget_search .bg { background:none; height:auto; width:auto;}
#sidebar .widget_search input[type="text"] { padding:3px; width:120px; margin:0; background:#999999;}
#sidebar .widget_search input[type="submit"] { right:5px; top:0; width:20px; height:22px; background-color:#999999;}

.widget_tag_cloud a { line-height:1.2em;}

/*----- Indents -----*/
.inside { padding:0 40px;}
.bot-indent { padding-bottom:0px;}
.bot-indent1 { padding-bottom:0px;}
.right-indent { padding-right:30px;}
.right-indent1 { padding-right:60px;}

.wrapper { width:100%; overflow:hidden;}

/*----- Posts -----*/
p { margin-bottom:20px;}

.posts-list { width:100%; overflow:hidden; padding-left:0; list-style-type:none;}
.cont-bg ul.posts-list{ width:100%; overflow:hidden; padding-left:0; list-style-type:none;}
.cont-bg ul.posts-list li{list-style-type:none;}
.search .posts-list { background:rgba(0, 0, 0, 0.6);}
.posts-list li:first-child { padding:0; background:none; margin-top:0;}
.cont-bg .posts-list li { padding-top:15px; margin:18px 0 10px; width:100%; overflow:hidden; vertical-align:top; border-top:1px solid #777; list-style-type:none;}
.cont-bg .posts-list li .post-excerpt ul li { padding-top:5px; margin:0 10px; width:auto; overflow:hidden; vertical-align:top; border-top:none;}
.cont-bg .posts-list li .post-excerpt ul li:first-child { padding-top:25px;}

.read-more,
.more-link { color:#00d2e5; display:inline-block; padding-left:27px;}

.featuredThumbnail img { float:left; margin:0 20px 10px 0;}
.woocommerce-account .featuredThumbnail img { float:none; margin:0;}
.newer-older { width:100%; overflow:hidden; height:20px;}
.newer-older.top { padding-bottom:25px;}

.newer-older.bot { padding-top:24px; padding-bottom:15px;}
.newer-older .older { float:left; width:45%;}

.newer-older .newer { float:right; width:45%; text-align:right;}
.newer-older a { color:#00d2e5;}

.oldernewer.bot { padding-top:16px;}

.title { overflow:hidden; width:100%; margin-bottom:0px;}
.title .post-edit-link { float:right; color:#aaa;}

#post-meta { padding-bottom:15px;}
.post-meta { padding-top:10px; clear:both;}

#post-author {}
#post-author h3 { margin-bottom:15px;}
#post-author h3 a:hover { color:#505050;}

#authorDescription, p.avatar { width:100%; overflow:hidden;}
#authorDescription img.avatar, .avatar img { float:left; margin-right:20px;}
#author-link { clear:both; padding-top:10px;}
#author-link p { margin:0;}
.gravatar { float:left; margin-right:20px;}

#comments { /*background:url(images/line-hor.gif) repeat-x left top; */ padding:32px 0 15px 0;}
#comments h3 { margin-bottom:20px;}
#comments ol { margin-bottom:30px; overflow:hidden; width:100%;}
#comments ol li { overflow:hidden; vertical-align:top; padding:10px 10px 20px 10px; margin-bottom:10px; background:#f7f6f6;}
#comments .comment-text p { margin-bottom:0;}
.comment-meta { padding-top:12px;}
.comment-edit-link { float:right;}

#post-content ul { list-style: disc; }
#post-content ul, #page-content ul { padding-bottom:10px;}
/* background:url(images/marker.gif) no-repeat left 8px; */
#post-content ul li, #page-content ul li {  padding-bottom:10px; padding-left:10px; height:1%;}
#post-content ul li a:hover, #page-content ul li a:hover { color:#5b5b5b;}

#page-content { padding-bottom:20px; width:100%; overflow:hidden;}
#page-content ul li { padding-bottom:5px;}
#page-content h4 { margin-bottom:0px;}

.column-left { float:left;}
.column-right { float:left;}

.search h1 { margin-bottom:20px;}

.post-excerpt p { margin:0;}

.entry-content { margin-bottom:-20px;}

#recent-author-comments { padding:30px 0 25px 0;}
#recent-author-comments ul li { background:url(images/marker.gif) no-repeat left 8px; padding-left:10px;}

.edit { padding-top:12px;}

.one-half { float:left; width:50%;}
.one-third { float:left; width:33%;}
.two-third { float:left; width:64%;}

.line-hor { height:2px; background:url(images/line-hor.gif) repeat-x left top; margin:20px 0; display:block;}
.line-hor1 {background:url(images/line-hor.gif) repeat-x left top; height:2px; font-size:0; line-height:0; margin-bottom:23px;}
*+ html .line-hor1 { margin-bottom:8px;}

#page-content ul.partners li:first-child { padding-top:0;}
#page-content ul.partners li { background:none; padding:10px 0 0 0; width:100%; overflow:hidden; vertical-align:top;}

#page-content ul.price-list li { width:100%; overflow:hidden; vertical-align:top;}
#page-content ul.price-list li a { float:left;}
#page-content ul.price-list li strong { float:right;}
#page-content ul.price-list li em { display:block; background:url(images/line-hor.gif) repeat-x left 14px; overflow:hidden;}

.folio { width:100%; overflow:hidden;}
.folio li { float:left; width:312px; padding-bottom:20px;}


/*----- Faded slider -----*/
#faded { height:417px; background:url(images/slider-bg.gif) no-repeat left bottom; width:100%; position:relative;}
#faded ul.slides { height:350px; overflow:hidden; width:940px; margin:0 auto; margin-bottom:3px;}
#faded ul.pagination { height:12px; text-align:center;}
#faded ul.pagination li { display:inline;}
#faded ul.pagination li a { width:12px; display:inline-block; font-size:0; line-height:25px; overflow:hidden; height:12px; background-repeat:no-repeat; background-position:-20px 0; background-image:url(images/pagination-sprite.gif); margin:0 4px;}
#faded ul.pagination li.current a,
#faded ul.pagination li a:hover { background-position:0 0;}
#faded a.prev,
#faded a.next {
  position:absolute;
  top:55px;
  text-indent:-9999px;
  width:40px;
  height:190px;
  background-repeat:no-repeat;
  background-position:0 0;
}
#faded a.prev { left:0; background-image:url(none);}
#faded a.next { right:0; background:url(none);}

/*----- Looped slider -----*/
.carousel-box {
  position:relative;
  width:1020px;
  overflow:hidden;
  margin-bottom:38px;
}
.carousel-box .prev-button,
.carousel-box .next-button {
  width:40px;
  height:122px;
  background-repeat:no-repeat;
  background-position:0 0;
  position:absolute;
  top:100px;
}
.carousel-box .prev-button { background-image:url(none); left:0;}
.carousel-box .next-button { background:url(none); right:0;}
.carousel-box .carousel {
  width:940px !important;
  overflow:hidden;
  margin-left:40px;
  background:url(images/line-hor.gif) repeat-x left top;
  padding-top:32px;
}
.carousel-box ul li {
  width:300px;
  height:275px;
  float:left;
  margin-right:20px;
}
.carousel-box ul li h3 { margin-bottom:4px;}
.carousel-box ul li .featuredThumbnail img { float:none; padding-top:13px; margin-bottom:15px;}
a.address { font-size:19px; line-height:1.2em; color:#B6B6B6; text-decoration:none;}
a.address:hover { color:#B6B6B6;}

/*----- banners -----*/
#banners ul { margin-left:-20px;}
#banners ul li.banner { float:left; padding:0 0 10px 65px; background-repeat:no-repeat; background-position:left top; width:235px; min-height:82px; height:auto!important; height:82px; margin-left:20px;}
#banners ul li.banner-1 { background-image:url(images/icon-1.gif);}
#banners ul li.banner-2 { background-image:url(images/icon-2.gif);}
#banners ul li.banner-3 { background-image:url(images/icon-3.gif);}
#banners ul li.banner-4 { background-image:url(images/icon-4.gif);}
#banners ul li.banner-5 { background-image:url(images/icon-5.gif);}
#banners ul li.banner-6 { background-image:url(images/icon-6.gif);}

/*----- Clearfix -----*/
.clearfix:after, .post:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
/* Hide from IE Mac \*/
.clearfix { display: block; }
/* End hide from IE Mac */
.none { display: none; }
/* End Clearfix */

/**/
.additional_information_tab {
  margin-right: 2px;
}
.reviews_tab {
  border-left: 3px solid #999!important;
  box-shadow:2px 2px #000 !important;
}

html,body {
  height: 100%;
}
.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -200px;
}

footer, .push {
  height: 200px;
}
footer {
  position: relative;
}

/* fix grid to make the same */
/*.woocommerce ul.products li {
  margin-bottom: 20px !important;
}*/

td.actions #coupon_code {
  color: #fff;
  background: rgba(0,0,0,0.29);
}

.woocommerce-message a.button {
  background: rgba(0,0,0,0.29) !important;
/*  background: #333; */
}

.woocommerce a.button {
  background: #333 !important;
}

td.actions input.button {
  background: #333;
}

#primary {
  z-index: 100;
  position: relative;
}

.woocommerce-message::before {
  background-color: #333;
  -linear-gradient(center top , #7C7C7C 0%, #777 100%) repeat scroll 0 0 transparent;
  content: "X";
}

.search-results .featuredThumbnail img {
  width: 190px;
  height: auto;
}

.post-excerpt p {
  padding: 0 15px;
}

.post-edit-link small {
  padding: 0 15px;
}

.variations_form div .price .from {
  display: none;
}

/* this is the normal price */
.variations_form div .price .amount {
  display: inline !important;
}

div.single_variation_wrap {
  display: inline !important;
}

.single_variation_wrap .price .amount {
  display: none !important;
}

.single_variation {
  display: none !important;
}

/* */
div.woocommerce div.table div.address {
  background-color: transparent;
}

ol.commentlist {
  width: 98% !important;
}

.chzn-container-single .chzn-single {
  background: transparent !important;
}
.chzn-container-single .chzn-single span {
  color: #fff;
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea, .woocommerce-page form .form-row input.input-text, .woocommerce-page form .form-row textarea {
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
  -moz-box-sizing: border-box; /* For all Gecko based browsers */
  box-sizing: border-box;
  width: 203px !important;
  padding:6px 8px;
  box-shadow:inset 0 0 4px #aaa;
}
.woocommerce-page .woocommerce form p.form-row.form-row-wide input.input-text {
  width: 426px !important;
  padding:6px 8px;
  box-shadow:inset 0 0 4px #aaa;
}
.woocommerce form .form-row textarea, .woocommerce-page form .form-row textarea {
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
  -moz-box-sizing: border-box; /* For all Gecko based browsers */
  box-sizing: border-box;
  width: 426px !important;
  padding: 6px 8px;
  box-shadow:inset 0 0 4px #aaa;
}

.woocommerce > p {
  background: rgba(0,0,0,0.5);
}

/* .woocommerce button.button.alt, .woocommerce-page button.button.alt, */
.woocommerce a.button.alt,  .woocommerce input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page a.button.alt,  .woocommerce-page input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page #content input.button.alt {
  /* was #333 but had to change due to 2/26/14 email - rtharp */
  /* if need #333, we need to figure out which buttons and how many, I'm sure
    more on the #888 side than #333 */
  /* we want 333 not 888, 333 is darker than 888 */
  background: #333 !important;
}
div.pp_woocommerce .pp_content_container {
  background-image: url('/wp-content/uploads/BG-Image.jpg') !important;
  background-repeat: repeat  !important;
  background-position: top left !important;
  background-attachment: fixed !important;
}
.woocommerce #respond input#submit {
  background-color: #333 !important;
  font-size: 12px !important;
  border: #aaa 1px solid !important;
  border-radius: 5px !important;
}

#reviews #comments p.noreviews {
  padding-left: 16px;
}
.woocommerce #respond h3 {
  color: #000;
  text-shadow: none;
}
.woocommerce p.add_review a.button {
  background-color: #333;
  font-size: 12px;
  border: #aaa 1px solid;
  border-radius: 5px;
}


.order_review table.shop_table tr.shipping {
  display: none;
}

.summary ul {
  list-style: disc;
}

#page-content div#aio-nav a {
  background: rgba(0,0,0,0.6);
  font-size: 10px;
  border-radius: 50px;
  padding: 3px 7px;
}

#page-content div#aio-nav a.activeSlide {
  background: #EE3942;
}

/*
.cart_totals tr.shipping {
  display: none;
}
*/

.comment-form {
  color: #000;
}

#comment {
  background-color: #eee;
  color: #000;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text, .woocommerce-page #reviews #comments ol.commentlist li .comment-text {
  margin: 0 !important;
}

div.star-rating {
  margin-right: 15px;
}

.commentlist div.star-rating {
  margin-right: 0;
}

a.inline.show_review_form.button {
  float: right;
  margin-right: 5px;
}

#page-content > div.woocommerce > p {
  padding: 15px;
}

/* 2/16/14 & 3/1/14 emails this is too greedy */
/*
.woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit, .woocommerce #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page #respond input#submit, .woocommerce-page #content input.button {
  background: none !important;
}
*/

/* 2/26/14 email - rtharp. */
.tax-product_cat h1.page-title, .post-type-archive-product  h1.page-title{
	display:none;	
}

.woocommerce #sidebar .widgets-list{
  background-color:rgba(0, 0, 0, 0.5);
}
.woocommerce form.login, .woocommerce form.register, .woocommerce-page form.login, .woocommerce-page form.register, .woocommerce-page .lost_reset_password {
 border:none !important;
 padding:15px !important;
 margin-top:15px !important;
  background-color:rgba(0, 0, 0, 0.5) !important;
  border-radius: 0 0 0 0 !important;
}
.woocommerce form.login #password{
	color:#DFDFDF!important;
}
.woocommerce table.my_account_orders, .woocommerce-page table.my_account_orders{
	border-collapse:collapse;
	margin:0;
}
.woocommerce-page button.button.single_add_to_cart_button, .woocommerce button.button.single_add_to_cart_button {
  background-image: url(/wp-content/uploads/add-to-cart.png) !important;
}

.woocommerce .products ul:after, .woocommerce ul.products:after, .woocommerce-page .products ul:after, .woocommerce-page ul.products:after{
  clear:both !important;
  display:block !important;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    margin: 0 7px 15px 8px !important;
    width: 23.4% !important;
}
.woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img{
	margin: 0 auto 8px !important;
	width:auto !important;
}
ul.products.list li.product h3, ul.products.list li.product div[itemprop="description"], ul.products.list li.product .price, ul.products.list li.product .gridlist-buttonwrap{
	float:left !important;
}

.woocommerce ul.products.list li.product div[itemprop="description"] li, .woocommerce ul.products.list li {
	margin-bottom:13px;
}
.woocommerce ul.products.list li.product img{
	margin: 15px !important;
}
#post-1328 .woocommerce {
  background: rgba(0,0,0,0.33);
  border-radius: 5x;
  padding: 15px;
}

#post-1328 .woocommerce {
  background: rgba(0,0,0,0.33);
  border-radius: 5x;
  padding: 15px;
}

.woocommerce div.product div.product-details-wrapper > div.summary {
	Float:left;
	Margin-bottom:2em;
	Width:50%;
}

.woocommerce div.product div.product-details-wrapper > div.images {
	Float:right;
	Margin-bottom:2em;
	Width:48%;
}

div.product-details-wrapper {
  background-color: rgba(0,0,0,0.5);
  margin: 15px 0;
  padding: 15px;
  position: relative;
}

.woocommerce div.product .product_title .sku, .woocommerce #content div.product .product_title .sku, .woocommerce-page div.product .product_title .sku, .woocommerce-page #content div.product .product_title .sku{
	clear:none;
	Display:block;
	font-size:16px;
	font-weight:bold;
	line-height:12px;
	margin-top:0;
	padding:0;
}

.woocommerce div.product-details-wrapper span.amount {
  font-size:1.55em;
  line-height:2em;
  padding-left:5px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a, .woocommerce #content div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a {
    color: #999 !important;
    display: inline-block;
    font-size:26px;
    font-weight: bold;
    padding: 0.5em 0;
    text-decoration: none;
    text-shadow: 2px 2px #000 !important;;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover, .woocommerce #content div.product .woocommerce-tabs ul.tabs li a:hover, .woocommerce-page div.product .woocommerce-tabs ul.tabs li a:hover, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a:hover {
    color: #FFF !important;
    text-decoration: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active {
    z-index: 2;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active a {
    color: #fff !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li,.woocommerce #content div.product .woocommerce-tabs ul.tabs li,.woocommerce-page div.product .woocommerce-tabs ul.tabs li,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
  background: transparent !important;
  /*
  background: -webkit-gradient(linear,left top,left bottom,from(#777),to(#5E5E5E));
  background: -webkit-linear-gradient(#777,#5E5E5E);
  background: -moz-linear-gradient(center top,#777 0%,#5E5E5E 100%);
  background: -moz-gradient(center top,#777 0%,#5E5E5E 100%);
  */
  display: inline-block;
  position: relative;
  z-index:2;
  border-top: none !important;
  border-bottom: none !important;
  border-right: none !important;
  -webkit-border-top-left-radius: 0px !important;
  -webkit-border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  box-shadow: 0 3px 3px transparent, inset 0 1px 0 transparent !important;
  margin: 0 -5px;
  padding: 0 1em;
  text-shadow: 2px 2px black !important;
  /* color: #999; */
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.additional_information_tab {
  border-left: none !important;
}
/*
.woocommerce div.product .woocommerce-tabs ul.tabs li.active,.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active,.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active{
  color: #fff;
}*/


.woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active
  background: transparent !important;
  /*
  background: -webkit-gradient(linear,left top,left bottom,from(#777),to(#5E5E5E));
  background: -webkit-linear-gradient(#777,#5E5E5E);
  background: -moz-linear-gradient(center top,#777 0%,#5E5E5E 100%);
  background: -moz-gradient(center top,#777 0%,#5E5E5E 100%);
  */
}

.woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li
  background: transparent !important;
  /*
  background: -webkit-gradient(linear,left top,left bottom,from(#777),to(#5E5E5E));
  background: -webkit-linear-gradient(#777,#5E5E5E);
  background: -moz-linear-gradient(center top,#777 0%,#5E5E5E 100%);
  background: -moz-gradient(center top,#777 0%,#5E5E5E 100%);
  */
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active::before, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active::before, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active::before, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active::before {
  box-shadow: 2px 2px 0 transparent !important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::before, .woocommerce #content div.product .woocommerce-tabs ul.tabs li::before, .woocommerce-page div.product .woocommerce-tabs ul.tabs li::before, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li::before {
  box-shadow: 2px 2px 0 transparent !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active::after, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active::after, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active::after, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active::after {
  box-shadow: -2px 2px 0 transparent !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after, .woocommerce #content div.product .woocommerce-tabs ul.tabs li::after, .woocommerce-page div.product .woocommerce-tabs ul.tabs li::after, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li::after {
  box-shadow: -2px 2px 0 transparent !important;
}

.woocommerce div.product .woocommerce-tabs .panel, .woocommerce #content div.product .woocommerce-tabs .panel, .woocommerce-page div.product .woocommerce-tabs .panel, .woocommerce-page #content div.product .woocommerce-tabs .panel {
    background-color:rgba(0, 0, 0, 0.5);
    margin: 0 0 2em;
    padding: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::before, .woocommerce #content div.product .woocommerce-tabs ul.tabs li::before, .woocommerce-page div.product .woocommerce-tabs ul.tabs li::before, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li::before {
  left: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-width: 0;
  box-shadow: 2px 2px 0 transparent;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before, .woocommerce #content div.product .woocommerce-tabs ul.tabs::before, .woocommerce-page div.product .woocommerce-tabs ul.tabs::before, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs::before {
  border-bottom-color:transparent !important;
}

.woocommerce #respond h3 {
  color: #fff;
}

.comment-form {
  color: #fff;
}

#comments > p {
  padding: 15px;
  margin-bottom: -15px;
}

.woocommerce #reviews #comment {
    background-color: rgba(0,0,0,.25);
    color: white;
}

.cart-subtotal th {
    padding-right: 20px !important;
}

#submit {
    color:white;
}

.woocommerce .woocommerce-message, .woocommerce a.button, .woocommerce .woocommerce-info, input.button, #payment p {
    color: white !important;
}
#payment ul li {
    list-style-type: none !important;
}
.woocommerce-pagination ul, .woocommerce-pagination ul li  {
    border: 0 !important;
}
#page-content .woocommerce {
    background-color: rgba(0,0,0,0) !important;
}

tr.shipping, tr.order-total {
    /*display: none;*/
}

#review_form {
  padding: 15px;
}

.woocommerce .woocommerce-message, .woocommerce-page .woocommerce-message {
  border-top: rgba(0,0,0,0.5) !important;
}

.woocommerce .woocommerce-message::before, .woocommerce-page .woocommerce-message::before {
  background: rgba(119,119,119,0.5) !important;
}

.woocommerce .woocommerce-message, .woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce-page .woocommerce-message, .woocommerce-page .woocommerce-error, .woocommerce-page .woocommerce-info {
  background: rgba(0,0,0,0.5) !important;
}

.woocommerce-message {
  border-top: 3px solid #777 !important;
  box-shadow: -2px 2px 0 transparent !important;
}

.woocommerce-message:before {
    background: -moz-linear-gradient(center top , #7C7C7C 0%, #777777 100%) repeat scroll 0 0 transparent;
    content: "✓";
}
.woocommerce-info {
    border-top: 3px solid #777;
}
.woocommerce-info:before {
    background: -moz-linear-gradient(center top , #7C7C7C 0%, #777777 100%) repeat scroll 0 0 transparent;
    content: "i";
    font-family: Times,Georgia,serif;
    font-style: italic;
}
.woocommerce-error {
    border-top: 3px solid #777;
}
.woocommerce-error:before {
    background: -moz-linear-gradient(center top , #7C7C7C 0%, #777777 100%) repeat scroll 0 0 transparent;
    content: "×";
    font-weight: 700;
}

.woocommerce .woocommerce-info, .woocommerce-page .woocommerce-info {
  border-top: rgba(0,0,0,0.5) !important;
  background: rgba(0,0,0,0.5) !important;
  box-shadow: -2px 2px 0 transparent !important;
}

.woocommerce .woocommerce-info::before, .woocommerce-page .woocommerce-info::before {
  background: rgba(119,119,119,0.5) !important;
}

.woocommerce .woocommerce-error, .woocommerce-page .woocommerce-error {
  border-top: rgba(0,0,0,0.5) !important;
  background: rgba(0,0,0,0.5) !important;
  box-shadow: -2px 2px 0 transparent !important;
}

.woocommerce .woocommerce-error::before, .woocommerce-page .woocommerce-error::before {
  background: rgba(119,119,119,0.5) !important;
}

.woocommerce table.shop_attributes .alt td, .woocommerce table.shop_attributes .alt th, .woocommerce-page table.shop_attributes .alt td, .woocommerce-page table.shop_attributes .alt th {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.024);
}
.woocommerce table.shop_table, .woocommerce-page table.shop_table {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-collapse: separate;
    border-radius: 5px 5px 5px 5px;
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
}
.woocommerce table.shop_table th, .woocommerce-page table.shop_table th {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    font-size:1.2em;
    font-weight: bold;
    line-height: 18px;
    padding: 9px 12px;
}

.woocommerce table.shop_table .cart-subtotal th, .woocommerce-page table.shop_table .cart-subtotal th, .woocommerce table.shop_table .total th, .woocommerce-page table.shop_table .total th, .woocommerce table.shop_table tfoot th, .woocommerce-page table.shop_table tfoot th {
    background: transparent;
}

.woocommerce table.shop_table .cart-subtotal th, .woocommerce-page table.shop_table .cart-subtotal th, .woocommerce table.shop_table .cart-subtotal td, .woocommerce-page table.shop_table .cart-subtotal td{
    border-top: 1px solid #A5A5A5;
}
.woocommerce table.shop_table td, .woocommerce-page table.shop_table td {
    border-top: 1px solid #A5A5A5;
    padding: 6px 12px;
    vertical-align: middle;
}

.woocommerce .cart-collaterals .cart_totals table, .woocommerce-page .cart-collaterals .cart_totals table {
    border-collapse: separate;
    border-radius: 5px 5px 5px 5px;
    float:right;
    font-size:14px;
    margin: 0 0 6px;
    padding: 0;
    text-shadow:1px 1px #000000
}
.woocommerce .cart-collaterals .cart_totals table tr:first-child th, .woocommerce .cart-collaterals .cart_totals table tr:first-child td, .woocommerce-page .cart-collaterals .cart_totals table tr:first-child th, .woocommerce-page .cart-collaterals .cart_totals table tr:first-child td {
    border-top: 0 none;
}
.woocommerce .cart-collaterals .cart_totals table td, .woocommerce .cart-collaterals .cart_totals table th, .woocommerce-page .cart-collaterals .cart_totals table td, .woocommerce-page .cart-collaterals .cart_totals table th {
    padding: 6px 3px;
}
.woocommerce .cart-collaterals .cart_totals table small, .woocommerce-page .cart-collaterals .cart_totals table small {
    color: #EE3A43;
    display: block;
}

.woocommerce .cart-collaterals .cart_totals table th, .woocommerce-page .cart-collaterals .cart_totals table th{
    width:auto !important;
}

.col-1 {
  background-color: rgba(0,0,0,0.5);
  padding: 5px;
}

.col-2 {
  background-color: rgba(0,0,0,0.5);
  padding: 5px;
}

/*
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
    background-color:rgba(0, 0, 0, 0.5);
    float: left;
    padding:10px;
    width: 38%;
}
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
    background-color:rgba(0, 0, 0, 0.5);
    float: right;
    padding:10px;
    width: 38%;
}
*/

.chosen-container .chosen-drop {
  background: rgba(0,0,0,0.5);
}

.chosen-container-single .chosen-single {
  background: rgba(0,0,0,0.5) !important;
}

.chosen-container-active.chosen-with-drop .chosen-single {
  background: rgba(0,0,0,0.5) !important;
  color: #fff;
}

.chosen-container-single .chosen-single span {
  color: #fff !important;
}
.active-result, .chosen-search input {
  color: #000 !important;
}

.woocommerce #payment, .woocommerce-page #payment{
  background-color:rgba(0, 0, 0, 0.5) !important;
  border-radius:0!important;
}
div.payment_box.payment_method_payleap {
  background: rgba(0,0,0,0.5) !important;
}

#payment .cont-bg ul, .cont-bg ul li {
 /* list-style: none; */
}

.woocommerce #payment div.payment_box {
  background:transparent !important;
}

.woocommerce #payment .payment_box fieldset, .woocommerce-page #payment .payment_box fieldset {
  background:transparent !important;
  border: 2px solid #777 !important;
  padding: 5px;
}

td.actions #coupon_code{
	width:92px;
}
/* -- woo commerce buttons -- BLS*/
.woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit, .woocommerce #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page #respond input#submit, .woocommerce-page #content input.button {
    background: #333!important;
}
.woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce #content input.button:hover, .woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page input.button:hover, .woocommerce-page #respond input#submit:hover, .woocommerce-page #content input.button:hover {
    background: #363636!important;
}
.woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page #content input.button.alt {
    background:  background: #333!important;
    border-color: #444!important;
}
.woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce #content input.button.alt:hover, .woocommerce-page a.button.alt:hover, .woocommerce-page button.button.alt:hover, .woocommerce-page input.button.alt:hover, .woocommerce-page #respond input#submit.alt:hover, .woocommerce-page #content input.button.alt:hover {
    background: #363636!important;
}

.woocommerce .quantity .plus, .woocommerce .quantity .minus, .woocommerce #content .quantity .plus, .woocommerce #content .quantity .minus, .woocommerce-page .quantity .plus, .woocommerce-page .quantity .minus, .woocommerce-page #content .quantity .plus, .woocommerce-page #content .quantity .minus {
    background: #333!important;
}
.woocommerce .quantity .plus:hover, .woocommerce .quantity .minus:hover, .woocommerce #content .quantity .plus:hover, .woocommerce #content .quantity .minus:hover, .woocommerce-page .quantity .plus:hover, .woocommerce-page .quantity .minus:hover, .woocommerce-page #content .quantity .plus:hover, .woocommerce-page #content .quantity .minus:hover {
    background: #363636!important);
}

.woocommerce .entry-summary button.single_add_to_cart_button, .woocommerce .entry-summary button.button, .woocommerce .entry-summary button.alt{
    background: url(/wp-content/uploads/add-to-cart.png) no-repeat;
    background-color: transparent !important;
    border:none;
    box-shadow:none;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    min-height: 52px;
    min-width: 143px;
    padding: 26px 10px 9px 49px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
    text-transform:uppercase;
    }
.woocommerce .entry-summary button.single_add_to_cart_button:hover, .woocommerce .entry-summary button.button:hover, .woocommerce .entry-summary button.alt:hover{
    background-image: url(/wp-content/uploads/add-to-cart-hover.png)!important;
    background: url(/wp-content/uploads/add-to-cart-hover.png) no-repeat!important;
    background-color: transparent !important;
    border:none;
    box-shadow:none;
	}
/* --end woo commerce buttons -- BLS*/
/*-- woo commerce stylesheet override --*/

.woocommerce div.product span.price, .woocommerce div.product p.price, .woocommerce #content div.product span.price, .woocommerce #content div.product p.price, .woocommerce-page div.product span.price, .woocommerce-page div.product p.price, .woocommerce-page #content div.product span.price, .woocommerce-page #content div.product p.price{
width:50px;
}

.single_variation_wrap{
display: inline-block;
float: left;
width: 345px;
    /*signle amounts
        width: 248px;
    */
    padding-left: 20px;
}
.single_variation{
margin:0px !important;
display: inline !important;
float: left;
margin-right: 40px;
}
.variations_button{
position:relative !important;
top:0px !important;
left:0px !important;
width: 250px;
}
.woocommerce ul.woocommerce-error li{
	color: #fff;
}
.woocommerce div.product form.cart div.quantity, .woocommerce #content div.product form.cart div.quantity, .woocommerce-page div.product form.cart div.quantity, .woocommerce-page #content div.product form.cart div.quantity{
margin-top: 11px !important;
margin-left: 15px !important;
}
.woocommerce div.product form.cart .button, .woocommerce #content div.product form.cart .button, .woocommerce-page div.product form.cart .button, .woocommerce-page #content div.product form.cart .button{
margin: -5px 15px 0;
}
div[itemprop="offers"] {
   width: 50px !important;
height: 60px !important;

}

/*single amounts
div[itemprop="offers"] {
    width: 135px !important;
    height: 60px !important;

} */

.woocommerce div.product form.cart, .woocommerce #content div.product form.cart, .woocommerce-page div.product form.cart, .woocommerce-page #content div.product form.cart{
margin-top: 130px;
}
h1.product_title{
margin-left:15px;
}
p.price{
color:transparent !important; 
}

p.price span{color:#ffffff;}
ul.grid li span.price{display:none !important;}

#sidebar {
    margin-bottom: 20px;
}

.no-results {
    color: white !important;
}

.search h2 {
    padding-left: 15px !important;
}

.woocommerce div.product span.price {
    color: white !important;
}
/*****  FIXES NEEDED AFTER LAST WOOCOMMERCE UPDATE *****/
a.checkout-button.button.alt.wc-forward {
display: none;
}
.woocommerce-checkout-payment {
    display: none;
}