/*
 Theme Name:   theme1142 Child Theme
 Theme URI:    
 Description:  theme1142 Child Theme
 Author:       CG
 Author URI:   
 Template:     theme1142
 Version:      1.0.0
 License:      
 License URI:  
 Tags:         
 Text Domain:  theme1142-child
*/

.accordionButton {
	cursor: pointer;
    display: block;
    float: left;
    _float: none;
    font-weight: bold;
    width: 153px;
    text-align: center;
    font-size: 14px;
    line-height: 2em;
    text-shadow: 1px 1px #000;
    border: 1px solid #eee;
}

.accordionButton  img {
	padding-top: 7px !important;
    padding-left: 15px;
    padding-bottom: 5px;
}

.accordionButton:hover, .accordionButton.on {
	color: #fe0101;
	border: 1px solid #fe0101;
}

.widgets-list li.widget.widget_woocommerce_product_filter_attribute {
	width: 16.66%;
}
.widget_woocommerce_product_filter_attribute .codenegar_applied_filter.chosen {

}
.widget_woocommerce_product_filter_attribute .codenegar_applied_filter.chosen  a{
	color: #fe0101;
}


header .container {
	overflow-x: visible;
}
header #menu-main-menu li {
	position: relative !important;
}
header .menu-item .sub-menu {
    width: 250px !important;
    display: inline-block;
    background: rgba(0,0,0,0.8);
    margin: 0 !important;
    padding: 15px 0 0 0 !important;
	left: auto;
	right: auto;
	left: 50% !important;
	transform: translateX(-50%);
}
header .menu-item .sub-menu li {
	float: none;
    display: block;
	padding: 10px 0;
	padding-left: 0 !important;
	margin: 0 !important;
	width: 100% !important;
	height: 30px;
}
header .menu-item .sub-menu li:hover {
	background: #e51937;
}
header .menu-item .sub-menu li  a {
	padding: 0;
	margin: 0;
	width: 100% !important;
	text-align: center;
}
.menu-item .sub-menu .arrowwrapper {
	display: none !important;
}

header #menu-main-menu li.current-menu-item ul.sub-menu {
	display: none;
	visibility: hidden;
}

header {
    background: url('./images/header-bg.png') repeat-x left top;
}

header #menu-main-menu li.current-menu-item a {

}
header #menu-main-menu .sub-menu li.current-menu-item a {
	color: #fe0101;
}
header #menu-main-menu .sub-menu li.current-menu-item:hover a {
	color: #fff;
}

/*
@media (max-width: 1500px) {
	.container {
		width: 1080px;
	}
	.bot-indent .inside {
		padding: 0;
	}
}
*/

/*
.menu-3rd-nav-our-brands-container:before {
	width: 200px;
	position: relative;
}
*/

@media (max-width: 1500px) {
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
		width: 23% !important;
	}
}